/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
/* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
  */

  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Julee&display=swap');
  
  /* @import 'node_modules/modern-normalize/modern-normalize.css'; */
  /* npm install modern-normalize
            Resets elements for browser consistency.  
            https://www.npmjs.com/package/modern-normalize
          */
  
/* Component-specific stylesheets, if any.  */
        @import "~react-image-gallery/styles/css/image-gallery.css";  
   
  
  /*   ----- Variables  -----  */
  :root {
      --DarkSalmon: #571d3c;
      --MediumSalmon: #83516c;
      --LightSalmon: #e2adc8;
  
      --DarkPuceTrans: hsla(344, 42%, 71%, 0.65);
      --MediumPuce: #D496A7;
      --LightPuceTrans: hsla(344, 42%, 71%, 0.7);
  
      --AliceBlue: #EBF5FB;
      --AirSuperiority: hsla(203, 35%, 55%, 0.25);
      --Independence: #5D576B;
      --DarkIndependence: #4a4555;
      --MistyRose: #F1DEDE;
      --MistyRoseTrans: hsla(0, 40%, 91%, 0.7);
      --MorningBlue: hsla(163, 17%, 55%, 0.85);
      --MorningBlue2: hsla(163, 17%, 55%, 0.5);
      --PolishedPine: #539987;
      --PolishedPineTrans: hsla(165, 30%, 46%, 0.5);
      --DarkPolishedPine: rgb(0, 135, 101);
      --DarkPolishedPineTrans: hsla(165, 30%, 46%, 0.2);
      --Dark2PolishedPineTrans: hsla(165, 37%, 37%, 0.2);
      --SilverSolid: silver solid;
      --TwilightLavender: #7E4E60;
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {
      /* Can alternatively define in html {} or :root {} */
      background-image: url(images/beach-las-terrenas-samana-the-dominican-republic.png);
      background-size: cover;
      background-attachment: fixed;
      background-position: top left;
      background-repeat: no-repeat;
      border: 6px solid var(--PolishedPine);
      color: var(--Independence);
      font-family: "Mukta", sans-serif; /* Define with at least one font name and its related generic family name.*/
      font-size: large;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 1200px;
      min-width: 600px;
      padding: 0%;
      text-align: start;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
      background-color: var(--LightPuceTrans);
      border: none;
      color: var(--MediumSalmon);
      line-height: 0.8;
      margin: 0%;
      padding: 2%;
      text-align: center;
  }
  
  main {
      background-color: var(--MorningBlue);
      background-attachment: fixed;
      border: none;
      margin: 0%;
      padding: 3%;
  }
  
  section {}
  
  article {
      border-top: 3px solid var(--MediumPuce)
  }
  
  .teamMembersArticle {
      text-align: center;
  }
  
  #topic1 {}
  
  #topic2 {}
  
  div {}
  
  aside {}
  
  footer {
      background-color: var(--DarkPuceTrans);
      border: none;
      color: var(--MediumSalmon);
      margin: 0%;
      padding: 1%;
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  
  a:link {}
  
  a:hover {}
  
  a:active {}
  
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
      background-color: var(--PolishedPine);
      line-height: 2;
      padding: 2%;
      text-align: center;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  nav a {
      background-color: var(--AirSuperiority);
      border: 2px solid var(--MediumPuce);
      border-radius: 5px 5px;
      color: var(--MistyRose);
      font-size: 1.3em;
      font-weight: bold;
      margin: 3px;
      padding: 3px 10px 5px 10px;
      text-decoration: none;
  }
  
  nav a:hover {
      background-color: var(--MediumPuce);
      color: var(--TwilightLavender);
      text-decoration: none;
  }
  
  #second-nav {
      background-color: var(--PolishedPineTrans);
      padding: 1%;
      text-align: center;
      text-decoration: none;
  }
  
  .second-a {
      background-color: var(--MistyRoseTrans);
      border: none;
      color: var(--PolishedPine);
      font-size: 1.1em;
      font-weight: normal;
      line-height: 1.5;
      margin: 3px;
      padding: 0.3%;
      text-decoration: none;
  }
  
  .second-a:hover {
      background-color: var(--LightPuceTrans);
      color: var(--MistyRose);
      text-decoration: none;
  }
  
  .staff-nav {
      background-color: var(--SilverSolid);
  }
  
  .staff-nav a:link {
      color: var(--Independence);
  }
  
  .staff-nav a:hover {
      color: var(--DarkPolishedPine);
  }
  
  .staff-nav a:visited {
      color: var(--Independence);
  }

.courses-nav {
    background-color: var(--SilverSolid);
}

.courses-nav a:link {
    color: var(--TwilightLavender);
}

.courses-nav a:hover {
    color: var(--PolishedPine);
}

.courses-nav a:visited {
    color: var(--TwilightLavender);
}
  
  /*  -----  Typography  ----- */
  p {}
  
  br {}
  
  ol,
  ul,
  dl {}
  
  li {}
  
  dt {}
  
  dd {}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {}
  
  h1 {}
  
  h2 {}
  
  h3 {}
  
  h4 {}
  
  h5 {}
  
  h6 {}
  
  abbr {}
  
  acronym {}
  
  address {}
  
  blockquote {}
  
  q {}
  
  cite {}
  
  em {}
  
  hr {}
  
  mark {}
  
  s {}
  
  span {}
  
  strong {}
  
  sub {}
  
  sup {}
  
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  
  code {}
  
  kbd {}
  
  samp {}
  
  var {}
  
  del {}
  
  ins {}
  
  /*  ----- Table ----- */
  table {
      border-collapse: collapse;
      border: 2px solid var(--PolishedPine);
      margin: 0%;
      min-width: 550px;
      max-width: 75%;
  }
  
  .teamMembersTable {
      border: none;
      background-color: var(--SilverSolid);
      font-size: medium;
      margin-left: auto; 
      margin-right: auto;
      width: 70%;
  }
  
  .petProductTable caption {
      background-color: var(--SilverSolid);
      margin: auto;
      padding-bottom: 2%;
  }
  
  .teamMembersTable caption {
      background-color: var(--SilverSolid);
      color: var(--TwilightLavender);
      font-family: "Cookie";
      font-size: xx-large;
      margin: auto;
      padding-top: 5.5%;
      padding-bottom: 1.5%;
      text-align: center;
  }
  
  .petProductTable thead {
      background-color: var(--DarkPuceTrans);
      color: var(--TwilightLavender);
  }
  
  .teamMembersTable thead {
      background-color: var(--MistyRose);
      color: var(--TwilightLavender);
      padding: 1%;
      text-align: center;
      font-size: medium;
  }
  
  .teamMembersTable tbody {
      background-color: var(--SilverSolid);
  }
  
  .petProductTable tbody {
      background-color: var(--MistyRoseTrans);
      color: var(--Independence);
  }
  
  tfoot {}
  
  tr th {
      border-bottom:2px dashed var(--PolishedPine);
      padding: 2% 0;
      text-align: center;
  }
  
  tr td {
      border-bottom:2px dashed var(--PolishedPine);
      padding: 1.3% 0;
      text-align: center;
  }
  
  .teamMembersTable tbody tr:nth-child(even) {
      background-color: var(--MistyRoseTrans);
  }
  
  .teamMembersTable tbody tr:nth-child(odd) {
      background-color: var(--DarkPuceTrans);
  }
  
  /* For my header row to be the clear
  /* .teamMembersTable thead tr:nth-child(1) {
      background-color: var(--SilverSolid);
  } */
  
  .courseHead th:nth-child(1) {
    width: 8%;
   }

   .courseHead th:nth-child(2) {
    width: 8%;
   }

   .courseHead th:nth-child(3) {
    width: 12%;
   }

   .courseHead th:nth-child(4) {
    width: 42%;
   }

   .courseHead th:nth-child(5) {
    width: 12%;
   }

   .courseHead th:nth-child(6) {
    width: 15%;
   }

   .courseHead th:nth-child(7) {
    width: 3%;
   }

   .courseHeadAdd th:nth-child(1) {
    width: 8%;
   }

   .courseHeadAdd th:nth-child(2) {
    width: 8%;
   }

  th {}
  
  td {}
  
  /*Format the 3rd column of the table 
  (adding the ID tag helps prevents other tables from getting formatted)*/
  .petProductTable th:nth-child(3) {
      text-align: right;
  }
  
  .petProductTable td:nth-child(3) {
      text-align: right;
  }
  
  /*Format the 4th column of the table*/
  .petProductTable th:nth-child(4), td:nth-child(4) {
      text-align: center;
      min-width: 120px;
  }
  
  colgroup {}
  
  data {}
  
  datalist {}
  
  
  /*  ----- Form ----- */
  form {}
  
  fieldset {
      background-color: var(--DarkPolishedPineTrans);
      border: 2px solid var(--PolishedPine);
      color: var(--DarkIndependence);
      margin: 0;
      margin-top: 3%;
      padding: 3%;
  }
  
  legend {
      background-color: var(--SilverSolid);
      border: none;
      color: var(--TwilightLavender);
      font-size: 120%;
      font-weight: bold;
      margin: 0;
      padding: 0.1%;
  }
  
  label {
      background-color: var(--SilverSolid);
      border: none;
      color: var(--DarkIndependence);
      display: block;
      margin-top: 1%;
      margin: auto;
      padding: auto;
  }
  
  button {
      background-color: var(--TwilightLavender);
      border: none;
      border-radius: 8px;
      color: var(--MistyRose);
      font-size: large;
      margin: auto;
      padding: 1.2%;
      font-family: inherit;
      width: 45%;
  }
  
  .buttonLabel {
      display: inline-block;
      color: var(--Independence);
  }
  
  .button {
      max-width: 99%;
      margin: auto;
      padding: .75%;
      width: 8%;
  }
  
  .button:hover {
      background-color: var(--Dark2PolishedPineTrans);
      color: var(--DarkIndependence);
  }
  
  .button:focus {
      background-color: var(--PolishedPineTrans);
      border: none;
      color: var(--AliceBlue);
  }
  
  input {
      background-color: var(--MistyRose);
      border: 2px solid var(--PolishedPine);
      color: var(--PolishedPine);
      font-size: medium;
      font-weight: 400;
      margin: auto;
      padding: 1.5%;
      font-family: inherit;
      width: auto;
      user-select: none; /* Standard syntax */
  }
  
  input, textarea{
      outline-color: var(--TwilightLavender);
  }
  
  input[type='number']{
      width: 50px;
  }

  input[type='text']{
    width: 50px;
}

.courseName   input[type='text']{
    width: 110px;
}

  input[type='date']{
    width: 110px;
}

/* .teamMembersTable input:-internal-autofill-selected {
    background-color: var(--PolishedPine) !important;
    color: #571d3c;
} */

  input[type='text']:focus {
    background-color: var(--MistyRoseTrans);
  }

  input[type='number']:focus {
    background-color: var(--MistyRoseTrans);
  }

  input[type='date']:focus {
    background-color: var(--MistyRoseTrans);
  }
  
  output {}
  
  meter {}
  
  progress {}
  
  select {
      border: 2px solid var(--PolishedPine);
      background-color: var(--MistyRose);
      color: var(--PolishedPine);
      font-size: medium;
      margin: auto;
      padding: 0.5%;
      font-family: inherit;
      outline-color: var(--PolishedPine);
      width: auto;
  }
  
  optgroup {}
  
  option {}
  
  textarea {
      border: 2px solid var(--PolishedPine);
      background-color: var(--MistyRose);
      color: var(--PolishedPine);
      font-size: medium;
      margin: auto;
      padding: 1.5%;
      font-family: inherit;
      width: 250px;
      height: 100px;
  }
  
  /* :focus {
      background-color: var(--MistyRoseTrans);
      border: 3px solid var(--PolishedPine);
  } */
  
  .teamMembersTable :focus {
      background-color: var(--SilverSolid);
      border: none;
  }
  
  ::placeholder {
      color: var(--MediumPuce);
      font-size: medium;
  }
  
  :required {
      border: 3px solid var(--TwilightLavender);
  }
  
  label.required::after{
      content: " *";
      color: var(--TwilightLavender);
  }
  
  /* ----- Media ----- */
  figure {}
  
  figcaption {}
  
  figure img {}
  
  svg {}
  
  picture {}
  
  source {}
  
  iframe {}
  
  video {}
  
  audio {}
  
  embed {}
  
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

.image-gallery-svg {
    /* stroke: var(--MediumPuce)!important; */
    stroke-width: 1.2;
    background-color: none;
  }

.image-gallery-icon {
    color: var(--MediumPuce);
}

.image-gallery-content.fullscreen{
    background-color: var(--MistyRose);
    /* background-image: url("images/beach-las-terrenas-samana-the-dominican-republic.png"); */
  }

.image-gallery-thumbnails-container{
    background-color: var(--SilverSolid);
}

.image-gallery-thumbnail-image{
    border-radius: 5px;
}

.image-gallery-thumbnail:hover {
    border: 3px solid var(--PolishedPine);}

.image-gallery-thumbnail.active {
    border: 3px solid var(--MediumPuce);
}

.image-gallery-slide .image-gallery-description{
    color: var(--DarkIndependence);
    background: var(--SilverSolid);
    font-family: inherit;
    bottom: auto;
    top: auto;
    line-height: 2;
    text-align: center;
}

:not(:root):fullscreen::backdrop {
    background: var(--MistyRose);
}

.image-gallery-icon:hover {
    background: none;
    color: var(--PolishedPine);
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    color: var(--DarkPolishedPine);
}

.image-gallery-fullscreen-button .image-gallery-svg:hover, .image-gallery-play-button .image-gallery-svg:hover {
    color: var(--MediumPuce);
}

.iconEnlarge{
    display:flex; 
    justify-content:space-between;
    margin:0 auto; 
    width:85px;
    font-size:135%; 
    font-weight:300;
/* https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    user-select: none; /* Standard syntax */
}

.courseIconEnlarge{
    display:flex; 
    justify-content:space-between;
    margin:0 auto; 
    width:85px;
    font-size:170%; 
    font-weight:300;
/* https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    user-select: none; /* Standard syntax */
}

  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}


/* Styles that were originally here before I added my styles from the previous assignment */

.App {
  text-align: center;
}

.App-logo {
  height: 75vmin;
  /* pointer-events: none; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
